################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Git-Absol-Webiste/FileContentIndex/fe0fb215-8b57-4d29-8b57-5bedf5d0e87c.vsidx
