################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Git-Absol-Webiste/FileContentIndex
/.vs/slnx.sqlite
*.zip
/.vs/absol-website/FileContentIndex/cdb3ac2c-26c0-4a20-9bb3-3cd9d53d0363.vsidx
/.vs/absol-website/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
